In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import datetime, timedelta

In [2]:
spark = SparkSession.builder \
    .appName("BronzeToSilver_Insurance_Batch") \
    .config("spark.jars", r"C:\Users\Mind-Graph\Desktop\etlproject\jars\postgresql-42.7.2.jar") \
    .getOrCreate()

In [3]:
spark.sparkContext.setLogLevel("ERROR")

In [4]:
df_bronze = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/bronze_layer_db") \
    .option("dbtable", '"bronze"."insurance_dataset_staging"') \
    .option("user", "postgres") \
    .option("driver", "org.postgresql.Driver") \
    .option("password", "rathi") \
    .load()

In [5]:
# Define watermark-like logic: only process records from last 3 days
watermark_cutoff = (datetime.now() - timedelta(days=3)).strftime('%Y-%m-%d')

In [6]:
df_bronze.show(5)

+-----------+----------------+----------+---------+--------------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+
|Customer_ID|            Name|       DOB|DL_Number|Aadhaar_Number|Age|Door_No|              Street|        City|   State|Country|Credit_Score|Risk_Profile|Claims_History|SRC_TRANSACTION_DATE|         received_at|
+-----------+----------------+----------+---------+--------------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+
|      C0001|      Jamie Bell|1972-01-25|   227272|  662282154096| 74|    779|267 Roy Landing S...|  Floresside|KY 72134|  India|         803|         Low|             2|          2024-12-03|2025-08-03 19:09:...|
|      C0002|Carrie Nicholson|1990-02-19|   746082|  814740195173| 66|    809|754 Javier Creek ...|   East John|VI 14302|  India|         602|        High|             0|          2024-10-27|2025-08-03 19:09:...|
|      C0003|  Michelle Davis|1949-02-19|   340792|  312860089533| 47|    335|    9524 Eric Shores|Dylanborough|PR 92228|  India|         651|      Medium|             5|          2023-05-09|2025-08-03 19:09:...|
|      C0004|      Sarah Webb|1963-05-20|   920503|  746863388159| 58|    274|31593 Jasmine Und...|  Port Gavin|IA 45590|  India|         765|        High|             0|          2024-02-22|2025-08-03 19:09:...|
|      C0005| Angelica Rivera|1965-08-06|   566788|  982130250187| 19|    269|224 Sosa Ford Sui...| North Debra|VT 85807|  India|         693|        High|             3|          2023-08-22|2025-08-03 19:09:...|
+-----------+----------------+----------+---------+--------------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+
only showing top 5 rows

In [8]:
from pyspark.sql.functions import *

df_transformed = df_bronze \
    .withColumn("SRC_TRANSACTION_DATE", to_date(trim(col("SRC_TRANSACTION_DATE")), "yyyy-MM-dd")) \
    .withColumn("Customer_ID", trim(col("Customer_ID"))) \
    .withColumn("Customer_UUID", expr("uuid()")) \
    .withColumn("Name", trim(col("Name"))) \
    .withColumn("DOB", to_date(trim(col("DOB")), "yyyy-MM-dd")) \
    .withColumn("DL_Masked", concat(
        sha2(expr("substring(trim(DL_Number), 1, length(trim(DL_Number)) - 2)"), 256),
        expr("substring(trim(DL_Number), -2, 2)")
    )) \
    .withColumn("Aadhaar_Masked", concat(
        sha2(expr("substring(trim(Aadhaar_Number), 1, length(trim(Aadhaar_Number)) - 2)"), 256),
        expr("substring(trim(Aadhaar_Number), -2, 2)")
    )) \
    .withColumn("Age", col("Age").cast("int")) \
    .withColumn("Door_No", trim(col("Door_No"))) \
    .withColumn("Street", trim(col("Street"))) \
    .withColumn("City", trim(col("City"))) \
    .withColumn("State", trim(col("State"))) \
    .withColumn("Country", trim(col("Country"))) \
    .withColumn("Credit_Score", col("Credit_Score").cast("int")) \
    .withColumn("Risk_Profile", trim(col("Risk_Profile"))) \
    .withColumn("Claims_History", col("Claims_History").cast("int")) \
    .withColumn("received_at", current_timestamp()) \
    .drop("DL_Number", "Aadhaar_Number")

In [9]:
df_transformed.show(5)

+-----------+----------------+----------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Customer_ID|            Name|       DOB|Age|Door_No|              Street|        City|   State|Country|Credit_Score|Risk_Profile|Claims_History|SRC_TRANSACTION_DATE|         received_at|       Customer_UUID|           DL_Masked|      Aadhaar_Masked|
+-----------+----------------+----------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|      C0001|      Jamie Bell|1972-01-25| 74|    779|267 Roy Landing S...|  Floresside|KY 72134|  India|         803|         Low|             2|          2024-12-03|2025-08-04 12:23:...|bfffaa92-58d2-496...|1134c0a7d44fdae1a...|9a94e5a8818d70fe2...|
|      C0002|Carrie Nicholson|1990-02-19| 66|    809|754 Javier Creek ...|   East John|VI 14302|  India|         602|        High|             0|          2024-10-27|2025-08-04 12:23:...|d7f32bdf-8e2e-402...|b99262e08a9b3a0ee...|290c7003f3f55201f...|
|      C0003|  Michelle Davis|1949-02-19| 47|    335|    9524 Eric Shores|Dylanborough|PR 92228|  India|         651|      Medium|             5|          2023-05-09|2025-08-04 12:23:...|dd02e6fd-6104-438...|ab58ad627e6b1b11f...|76c9a8b047e64f714...|
|      C0004|      Sarah Webb|1963-05-20| 58|    274|31593 Jasmine Und...|  Port Gavin|IA 45590|  India|         765|        High|             0|          2024-02-22|2025-08-04 12:23:...|5b2af21b-094d-4b9...|50a79d36411d6da49...|4779394d1280ef68d...|
|      C0005| Angelica Rivera|1965-08-06| 19|    269|224 Sosa Ford Sui...| North Debra|VT 85807|  India|         693|        High|             3|          2023-08-22|2025-08-04 12:23:...|f224f165-78c1-458...|4908e317936220be6...|13964ed87a6046318...|
+-----------+----------------+----------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [10]:
# Filter invalid records
df_clean = df_transformed.filter(
    (col("Age") > 0) &
    (col("Credit_Score").between(300, 900)) &
    (col("Claims_History") >= 0)
)

In [11]:


df_clean.write \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/silver_layer_db") \
    .option("dbtable", '"public"."silver_insurance_dataset"') \
    .option("user", "postgres") \
    .option("password", "rathi") \
    .option("driver", "org.postgresql.Driver") \
    .mode("overwrite") \
    .save()

In [12]:
df_clean.show(5)

+-----------+----------------+----------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Customer_ID|            Name|       DOB|Age|Door_No|              Street|        City|   State|Country|Credit_Score|Risk_Profile|Claims_History|SRC_TRANSACTION_DATE|         received_at|       Customer_UUID|           DL_Masked|      Aadhaar_Masked|
+-----------+----------------+----------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|      C0001|      Jamie Bell|1972-01-25| 74|    779|267 Roy Landing S...|  Floresside|KY 72134|  India|         803|         Low|             2|          2024-12-03|2025-08-04 12:23:...|bfffaa92-58d2-496...|1134c0a7d44fdae1a...|9a94e5a8818d70fe2...|
|      C0002|Carrie Nicholson|1990-02-19| 66|    809|754 Javier Creek ...|   East John|VI 14302|  India|         602|        High|             0|          2024-10-27|2025-08-04 12:23:...|d7f32bdf-8e2e-402...|b99262e08a9b3a0ee...|290c7003f3f55201f...|
|      C0003|  Michelle Davis|1949-02-19| 47|    335|    9524 Eric Shores|Dylanborough|PR 92228|  India|         651|      Medium|             5|          2023-05-09|2025-08-04 12:23:...|dd02e6fd-6104-438...|ab58ad627e6b1b11f...|76c9a8b047e64f714...|
|      C0004|      Sarah Webb|1963-05-20| 58|    274|31593 Jasmine Und...|  Port Gavin|IA 45590|  India|         765|        High|             0|          2024-02-22|2025-08-04 12:23:...|5b2af21b-094d-4b9...|50a79d36411d6da49...|4779394d1280ef68d...|
|      C0005| Angelica Rivera|1965-08-06| 19|    269|224 Sosa Ford Sui...| North Debra|VT 85807|  India|         693|        High|             3|          2023-08-22|2025-08-04 12:23:...|f224f165-78c1-458...|4908e317936220be6...|13964ed87a6046318...|
+-----------+----------------+----------+---+-------+--------------------+------------+--------+-------+------------+------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows